.Item {
  width: 100%;
}

.Item strong {
  font-weight: bold;
}

td {
  padding: 5px;
}

.Item:hover {
  background-color: #ddd;
}

.ItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Time {
  font-size: 0.97rem;
  margin-left: auto;
}
