#about-page {
  border-radius: 6px;
  position: relative;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 16px;
  box-sizing: border-box;
  background: #161618;
}

.Table {
  font-family: monospace;
  border-collapse: separate;
  font-size: 1.5rem;
  border-spacing: 0;
  width: 100%;
  border-radius: 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Table td,
.Table thead {
  padding: 8px;
  width: 100%;
}

.Table tr td {
  background-color: #f2f2f2;
}

.Table thead tr td {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #62626c;
  color: white;
}

.userinfo {
  float: left;
  margin-right: 20px;
}

.userinfo img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.about-info {
  font-size: 18px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  color: #000;
  text-decoration: none;
}

.social-icons a:hover {
  color: #0077b5; /* LinkedIn Blue */
}
