.Table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 8px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Table th {
    padding: 8px;
}

.Table tr {
    background-color: #f2f2f2;
}


.Table th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #62626C;
    color: white;
    font-weight: bold;
}

.Table a{
    font-weight: normal;
}