.Table {
    font-family: monospace;
    font-size: 1.5rem;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 8px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Table td,
.Table th {
    /* border: 1px solid #ddd; */
    padding: 8px;
}

.Table tr {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
}

.Table th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #62626c;
    color: white;
    font-weight: bold;
    width: 100%;
}

Table td{
    float: left;
    background-color: #f2f2f2;

}

.userinfo {
    font-weight: bold;
}

.userinfo img {
    height: 200px;
    width: 200px;
}

.post-cell{
    position: relative;
    width: 100%;
}

#button-section{
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    
}

.timestamp {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.reply-content {
    position: relative;
}
