header{
    margin-top: 10px;
    padding-bottom: 6px;
}

.logo{
    height: 140px;
}

header div.container{
    width: 100%;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-end;
}

header div.container nav{
    width: 100%;
    display:flex;
}

header div.container nav div{
    margin-left: auto;
    margin-top: auto;
}

